<a href="https://colab.research.google.com/github/lakshmigojanece/assignment_2/blob/main/online_food_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#online food delivery probject

In [ ]:
#DATA COLLECTION:

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/ONINE_FOOD_DELIVERY_ANALYSIS (1).csv")

In [ ]:
#DATA UNDERSTANDING:

In [ ]:
df.columns

Index(['Order_ID', 'Customer_ID', 'Customer_Age', 'Customer_Gender', 'City',
       'Area', 'Restaurant_ID', 'Restaurant_Name', 'Cuisine_Type',
       'Order_Date', 'Order_Time', 'Delivery_Time_Min', 'Distance_km',
       'Order_Value', 'Discount_Applied', 'Final_Amount', 'Payment_Mode',
       'Order_Status', 'Cancellation_Reason', 'Delivery_Partner_ID',
       'Delivery_Rating', 'Restaurant_Rating', 'Order_Day', 'Peak_Hour',
       'Profit_Margin'],
      dtype='object')

In [ ]:
df

,Order_ID,Customer_ID,Customer_Age,Customer_Gender,City,Area,Restaurant_ID,Restaurant_Name,Cuisine_Type,Order_Date,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,19.0,Male,NaN,Central,RES936,Restaurant_29,Chinese,10/20/2024,...,NaN,UPI,Delivered,NaN,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,NaN,Female,Chennai,North,RES689,Restaurant_419,Chinese,8/12/2024,...,4849.0,COD,Delivered,NaN,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,NaN,Male,Delhi,NaN,RES723,Restaurant_244,Arabian,12/8/2024,...,737.0,Wallet,Delivered,NaN,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,NaN,Male,Mumbai,Central,RES951,Restaurant_178,Chinese,10/8/2024,...,NaN,UPI,Cancelled,Late Delivery,DP155,2.0,3.4,Weekday,NaN,0.04
4,ORD000005,CUST4389,57.0,Female,Chennai,South,RES419,Restaurant_262,Chinese,2/4/2024,...,352.0,Card,Delivered,NaN,DP728,2.0,4.4,Weekend,False,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85914,ORD085915,CUST6276,25.0,Female,NaN,East,RES181,Restaurant_161,Italian,6/15/2024,...,NaN,UPI,Cancelled,Restaurant Issue,DP540,1.0,3.6,Weekend,False,0.38
85915,ORD085916,CUST1989,NaN,Female,Chennai,East,RES787,Restaurant_396,NaN,8/7/2024,...,2401.0,UPI,Delivered,NaN,DP198,1.0,4.9,Weekday,True,0.46
85916,ORD085917,CUST6371,NaN,Male,NaN,North,RES391,Restaurant_432,Arabian,3/16/2024,...,NaN,NaN,Cancelled,Late Delivery,DP730,3.0,3.1,Weekend,False,0.10
85917,ORD085918,CUST9765,36.0,Female,Delhi,East,RES949,Restaurant_140,Arabian,9/25/2024,...,2184.0,Wallet,Delivered,NaN,DP668,3.0,5.3,Weekday,NaN,-0.06
85918,ORD085919,CUST4456,NaN,Male,NaN,South,RES870,Restaurant_89,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.isnull().sum()

Order_ID                   0
Customer_ID                0
Customer_Age           43061
Customer_Gender        21339
City                   14363
Area                   14320
Restaurant_ID              0
Restaurant_Name            0
Cuisine_Type           14476
Order_Date               886
Order_Time              1696
Delivery_Time_Min      28639
Distance_km            28794
Order_Value            28630
Discount_Applied       14432
Final_Amount           47908
Payment_Mode           17121
Order_Status               1
Cancellation_Reason    78172
Delivery_Partner_ID        1
Delivery_Rating        14242
Restaurant_Rating          1
Order_Day                  1
Peak_Hour              28349
Profit_Margin              1
dtype: int64

In [ ]:
df.groupby('Peak_Hour')['Delivery_Time_Min'].mean()

Peak_Hour
False    127.883304
True     127.133560
Name: Delivery_Time_Min, dtype: float64

In [ ]:
#order_value is 0.00 overall 100000 rows but this is say peak_value is true and false i will analysis this data is order_hour is 0.00 and also peak_hour all rows is false only and  same time  peak_hour  is 6 to 11 morining, 12 to 1 afternoon, 4 to 7 evening, 7 to 9 night

In [ ]:
df.Customer_Age.value_counts()

Customer_Age
49.0    809
27.0    806
29.0    801
34.0    798
55.0    791
33.0    786
40.0    785
46.0    781
39.0    772
48.0    770
51.0    762
56.0    759
45.0    755
43.0    754
57.0    753
53.0    752
21.0    752
32.0    751
47.0    748
52.0    747
54.0    746
26.0    744
23.0    743
36.0    743
44.0    741
19.0    740
58.0    738
38.0    737
24.0    737
25.0    736
42.0    735
37.0    730
30.0    730
35.0    727
50.0    722
41.0    721
20.0    721
59.0    719
18.0    713
22.0    708
60.0    703
28.0    697
31.0    687
Name: count, dtype: int64

In [ ]:
df.describe() # numerical value only

,Customer_Age,Delivery_Time_Min,Distance_km,Order_Value,Discount_Applied,Final_Amount,Delivery_Rating,Restaurant_Rating,Profit_Margin
count,32150.000000,42911.000000,42824.000000,42926.000000,53610.000000,28410.000000,53783.000000,64443.000000,64443.000000
mean,39.070669,127.367388,16.405910,2082.448563,93.820929,1964.054453,2.996653,4.250164,0.150335
std,12.347370,90.753103,12.235626,1553.439417,108.137012,1557.954002,1.414210,0.722609,0.202038
min,18.000000,20.000000,1.000000,150.000000,0.000000,-150.000000,1.000000,3.000000,-0.200000
25%,28.000000,45.000000,5.460000,675.000000,20.000000,561.000000,2.000000,3.600000,-0.020000
50%,39.000000,120.000000,9.960000,1197.000000,50.000000,1157.000000,3.000000,4.300000,0.150000
75%,50.000000,209.000000,27.310000,3492.000000,100.000000,3380.750000,4.000000,4.900000,0.320000
max,60.000000,300.000000,40.000000,5000.000000,300.000000,4980.000000,5.000000,5.500000,0.500000

In [ ]:
df['Delivery_Rating'].isna().sum()

np.int64(10661)

In [ ]:
df['Delivery_Rating'].fillna(df['Delivery_Rating'].mode()[0], inplace=True)

/tmp/ipython-input-484727530.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Delivery_Rating'].fillna(df['Delivery_Rating'].mode()[0], inplace=True)

In [ ]:
df.Delivery_Rating.median(),df.Delivery_Rating.mean(),df.Delivery_Rating.mode()

(4.0,
 np.float64(3.1626373285333003),
 0    4.0
 Name: Delivery_Rating, dtype: float64)

In [ ]:
df.Delivery_Rating.value_counts(),df.Delivery_Rating.value_counts().sum()

(Delivery_Rating
 4.0    21621
 1.0    10812
 2.0    10796
 5.0    10640
 3.0    10575
 Name: count, dtype: int64,
 np.int64(64444))

In [ ]:
df['Final_Amount'].fillna(df['Final_Amount'].median(),inplace=True)

/tmp/ipython-input-1568136398.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Final_Amount'].fillna(df['Final_Amount'].median(),inplace=True)

In [ ]:
df.Final_Amount.median()

1157.0

In [ ]:
df.Final_Amount.value_counts(),df.Final_Amount.value_counts().sum()

(Final_Amount
 1157.0    36042
 716.0        27
 572.0        26
 586.0        25
 338.0        25
           ...
 4928.0        1
 3139.0        1
 4400.0        1
 3756.0        1
 2516.0        1
 Name: count, Length: 4495, dtype: int64,
 np.int64(64444))

In [ ]:
df.Discount_Applied.median()

50.0

In [ ]:
df['Discount_Applied'].fillna(df['Discount_Applied'].median(),inplace=True)

/tmp/ipython-input-1910732480.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Discount_Applied'].fillna(df['Discount_Applied'].median(),inplace=True)

In [ ]:
df.Discount_Applied.value_counts(),df.Discount_Applied.value_counts().sum()

(Discount_Applied
 50.0     21540
 100.0    10846
 0.0      10792
 300.0    10659
 20.0     10607
 Name: count, dtype: int64,
 np.int64(64444))

In [ ]:
df.Order_Value.median()

1197.0

In [ ]:
df['Order_Value'].fillna(df['Order_Value'].median(),inplace=True)

/tmp/ipython-input-3085633638.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Order_Value'].fillna(df['Order_Value'].median(),inplace=True)

In [ ]:
df.Order_Value.value_counts(),df.Order_Value.value_counts().sum()

(Order_Value
 1197.0    21541
 1108.0       41
 1091.0       35
 1183.0       33
 410.0        33
           ...
 2408.0        1
 2683.0        1
 4821.0        1
 4388.0        1
 4377.0        1
 Name: count, Length: 4049, dtype: int64,
 np.int64(64444))

In [ ]:
df.Distance_km.mean(),df.Distance_km.median(),df.Distance_km.mode()

(np.float64(16.405909536708386),
 9.96,
 0    4.39
 Name: Distance_km, dtype: float64)

In [ ]:
df['Distance_km'].fillna(df['Distance_km'].median(),inplace=True)

/tmp/ipython-input-973713674.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Distance_km'].fillna(df['Distance_km'].median(),inplace=True)

In [ ]:
df.Distance_km.value_counts(),df.Distance_km.value_counts().sum()

(Distance_km
 9.96     21644
 4.39        41
 3.09        39
 2.01        39
 1.51        38
          ...
 17.84        2
 34.75        1
 37.21        1
 29.28        1
 32.13        1
 Name: count, Length: 3400, dtype: int64,
 np.int64(64444))

In [ ]:
df['Delivery_Time_Min'].fillna(df['Delivery_Time_Min'].median(), inplace=True)

/tmp/ipython-input-1646966748.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Delivery_Time_Min'].fillna(df['Delivery_Time_Min'].median(), inplace=True)

In [ ]:
df.Delivery_Time_Min.median(),round(df.Delivery_Time_Min.mean())

(120.0, 125)

In [ ]:
df.Delivery_Time_Min.value_counts(),df.Delivery_Time_Min.value_counts().sum()

(Delivery_Time_Min
 120.0    21658
 42.0       457
 35.0       449
 28.0       443
 26.0       443
          ...
 160.0       97
 292.0       96
 243.0       96
 172.0       91
 246.0       89
 Name: count, Length: 232, dtype: int64,
 np.int64(64444))

In [ ]:
df.dtypes

Order_ID                object
Customer_ID             object
Customer_Age           float64
Customer_Gender         object
City                    object
Area                    object
Restaurant_ID           object
Restaurant_Name         object
Cuisine_Type            object
Order_Date              object
Order_Time              object
Delivery_Time_Min      float64
Distance_km            float64
Order_Value            float64
Discount_Applied       float64
Final_Amount           float64
Payment_Mode            object
Order_Status            object
Cancellation_Reason     object
Delivery_Partner_ID     object
Delivery_Rating        float64
Restaurant_Rating      float64
Order_Day               object
Peak_Hour               object
Profit_Margin          float64
dtype: object

In [ ]:
df.shape

(100000, 25)

In [ ]:
df.head()

,Order_ID,Customer_ID,Customer_Age,Customer_Gender,City,Area,Restaurant_ID,Restaurant_Name,Cuisine_Type,Order_Date,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,19.0,Male,NaN,Central,RES936,Restaurant_29,Chinese,10/20/2024,...,1157.0,UPI,Delivered,NaN,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,NaN,Female,Chennai,North,RES689,Restaurant_419,Chinese,8/12/2024,...,4849.0,COD,Delivered,NaN,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,NaN,Male,Delhi,NaN,RES723,Restaurant_244,Arabian,12/8/2024,...,737.0,Wallet,Delivered,NaN,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,NaN,Male,Mumbai,Central,RES951,Restaurant_178,Chinese,10/8/2024,...,1157.0,UPI,Cancelled,Late Delivery,DP155,2.0,3.4,Weekday,NaN,0.04
4,ORD000005,CUST4389,57.0,Female,Chennai,South,RES419,Restaurant_262,Chinese,2/4/2024,...,352.0,Card,Delivered,NaN,DP728,2.0,4.4,Weekend,False,0.12

In [ ]:
df.nunique()

Order_ID               64444
Customer_ID             8991
Customer_Age              43
Customer_Gender            3
City                       5
Area                       5
Restaurant_ID            900
Restaurant_Name          500
Cuisine_Type               5
Order_Date               365
Order_Time                 1
Delivery_Time_Min        232
Distance_km             3400
Order_Value             4049
Discount_Applied           5
Final_Amount            4495
Payment_Mode               4
Order_Status               2
Cancellation_Reason        3
Delivery_Partner_ID      900
Delivery_Rating            5
Restaurant_Rating         26
Order_Day                  2
Peak_Hour                  2
Profit_Margin             71
dtype: int64

In [ ]:
#df['Customer_Gender'].fillna(df['Customer_Gender'].mode()[0], inplace=True)

In [ ]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
64439    False
64440    False
64441    False
64442    False
64443    False
Length: 64444, dtype: bool

In [ ]:
df.duplicated().sum()

np.int64(0)

In [ ]:
df.Customer_Age.mean(),round(df.Customer_Age.mean()),df.Customer_Age.median(),df.Customer_Age.mode()

(np.float64(39.070668740279935),
 39,
 39.0,
 0    49.0
 Name: Customer_Age, dtype: float64)

In [ ]:
df['Customer_Age'].fillna(round(df['Customer_Age'].mean()), inplace=True)

/tmp/ipython-input-2053110263.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer_Age'].fillna(round(df['Customer_Age'].mean()), inplace=True)

In [ ]:
df.isnull().sum()

Order_ID                   0
Customer_ID                0
Customer_Age               0
Customer_Gender        16005
City                   10740
Area                   10718
Restaurant_ID              0
Restaurant_Name            0
Cuisine_Type           10896
Order_Date               662
Order_Time              1297
Delivery_Time_Min          0
Distance_km                0
Order_Value                0
Discount_Applied           0
Final_Amount               0
Payment_Mode           12870
Order_Status               1
Cancellation_Reason    58622
Delivery_Partner_ID        1
Delivery_Rating            0
Restaurant_Rating          1
Order_Day                  1
Peak_Hour              21411
Profit_Margin              1
dtype: int64

In [ ]:
df['Peak_Hour'].fillna(df['Peak_Hour'].mode()[0],inplace=True)

/tmp/ipython-input-4245931762.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Peak_Hour'].fillna(df['Peak_Hour'].mode()[0],inplace=True)
/tmp/ipython-input-4245931762.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Peak_Hour'].fillna(df['Peak_Hour'].mode()[0],inplace=True)

In [ ]:
df.Peak_Hour.value_counts(),df.Peak_Hour.value_counts().sum()

(Peak_Hour
 True     43014
 False    21430
 Name: count, dtype: int64,
 np.int64(64444))

In [ ]:
df['Peak_Hour']

0         True
1         True
2         True
3         True
4        False
         ...
64439     True
64440     True
64441    False
64442     True
64443     True
Name: Peak_Hour, Length: 64444, dtype: bool

In [ ]:
df['Cancellation_Reason'].fillna('Not Cancelled', inplace=True)

/tmp/ipython-input-102152185.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cancellation_Reason'].fillna('Not Cancelled', inplace=True)

In [ ]:
df.Cancellation_Reason.value_counts(),df.Cancellation_Reason.value_counts().sum()

(Cancellation_Reason
 Not Cancelled         58622
 Late Delivery          1982
 Restaurant Issue       1920
 Customer Cancelled     1920
 Name: count, dtype: int64,
 np.int64(64444))

In [ ]:
df['Cancellation_Reason']

0        Not Cancelled
1        Not Cancelled
2        Not Cancelled
3        Late Delivery
4        Not Cancelled
             ...
64439    Not Cancelled
64440    Not Cancelled
64441    Not Cancelled
64442    Late Delivery
64443    Not Cancelled
Name: Cancellation_Reason, Length: 64444, dtype: object

In [ ]:
df['Payment_Mode'].fillna(df['Payment_Mode'].mode()[0],inplace=True)

/tmp/ipython-input-2110590359.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Payment_Mode'].fillna(df['Payment_Mode'].mode()[0],inplace=True)

In [ ]:
df.Payment_Mode.value_counts(),df.Payment_Mode.value_counts().sum()

(Payment_Mode
 Wallet    25879
 Card      12981
 UPI       12827
 COD       12757
 Name: count, dtype: int64,
 np.int64(64444))

In [ ]:
df['Payment_Mode']

0           UPI
1           COD
2        Wallet
3           UPI
4          Card
          ...
64439      Card
64440      Card
64441       UPI
64442    Wallet
64443    Wallet
Name: Payment_Mode, Length: 64444, dtype: object

In [ ]:
df['Order_Time'].fillna(df['Order_Time'].mode()[0], inplace=True)

/tmp/ipython-input-2869848219.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Order_Time'].fillna(df['Order_Time'].mode()[0], inplace=True)

In [ ]:
df['Order_Time']

0        0:00
1        0:00
2        0:00
3        0:00
4        0:00
         ...
64439    0:00
64440    0:00
64441    0:00
64442    0:00
64443    0:00
Name: Order_Time, Length: 64444, dtype: object

In [ ]:
df.Order_Time.value_counts(),df.Order_Time.value_counts().sum()

(Order_Time
 0:00    64444
 Name: count, dtype: int64,
 np.int64(64444))

In [ ]:
df['Order_Date'] = pd.to_datetime(df['Order_Date'], errors='coerce')

In [ ]:
#df['Order_Date'] = pd.to_datetime(df['Order_Date'])

In [ ]:
df['Order_Date'].fillna(df['Order_Date'].mode()[0], inplace=True)

/tmp/ipython-input-2000339243.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Order_Date'].fillna(df['Order_Date'].mode()[0], inplace=True)

In [ ]:
df.Order_Date.value_counts(),df.Order_Date.value_counts().sum()

(Order_Date
 2024-01-08    875
 2024-07-15    211
 2024-02-17    208
 2024-10-12    206
 2024-11-13    204
              ...
 2024-05-20    145
 2024-06-19    143
 2024-08-21    142
 2024-05-27    141
 2024-04-11    132
 Name: count, Length: 365, dtype: int64,
 np.int64(64444))

In [ ]:
df.Cuisine_Type.value_counts(),df.Cuisine_Type.value_counts().sum()

(Cuisine_Type
 Indian     10756
 Arabian    10727
 Chinese    10722
 Mexican    10710
 Italian    10633
 Name: count, dtype: int64,
 np.int64(53548))

In [ ]:
df['Cuisine_Type'].fillna(df['Cuisine_Type'].mode()[0],inplace=True)

/tmp/ipython-input-2337185126.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Cuisine_Type'].fillna(df['Cuisine_Type'].mode()[0],inplace=True)

In [ ]:
df.Area.value_counts(),df.Area.value_counts().sum()

(Area
 North      10852
 West       10784
 South      10741
 Central    10706
 East       10643
 Name: count, dtype: int64,
 np.int64(53726))

In [ ]:
df['Area'].fillna(df['Area'].mode()[0],inplace=True)

/tmp/ipython-input-1709026974.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Area'].fillna(df['Area'].mode()[0],inplace=True)

In [ ]:
df.City.value_counts(),df.City.value_counts().sum()

(City
 Hyderabad    10952
 Bangalore    10807
 Delhi        10700
 Chennai      10681
 Mumbai       10564
 Name: count, dtype: int64,
 np.int64(53704))

In [ ]:
df['City'].fillna(df['City'].mode()[0],inplace=True)

/tmp/ipython-input-689064380.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['City'].fillna(df['City'].mode()[0],inplace=True)

In [ ]:
df['Customer_Gender'].value_counts().sum(),df['Customer_Gender'].value_counts()

(np.int64(48439),
 Customer_Gender
 Female    16209
 Other     16174
 Male      16056
 Name: count, dtype: int64)

In [ ]:
df['Customer_Gender'].fillna(df['Customer_Gender'].mode()[0], inplace=True)

/tmp/ipython-input-4030263502.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Customer_Gender'].fillna(df['Customer_Gender'].mode()[0], inplace=True)

In [ ]:
df.isnull().sum()

Order_ID               0
Customer_ID            0
Customer_Age           0
Customer_Gender        0
City                   0
Area                   0
Restaurant_ID          0
Restaurant_Name        0
Cuisine_Type           0
Order_Date             0
Order_Time             0
Delivery_Time_Min      0
Distance_km            0
Order_Value            0
Discount_Applied       0
Final_Amount           0
Payment_Mode           0
Order_Status           1
Cancellation_Reason    0
Delivery_Partner_ID    1
Delivery_Rating        0
Restaurant_Rating      1
Order_Day              1
Peak_Hour              0
Profit_Margin          1
dtype: int64

In [ ]:
df.head()

,Order_ID,Customer_ID,Customer_Age,Customer_Gender,City,Area,Restaurant_ID,Restaurant_Name,Cuisine_Type,Order_Date,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,19.0,Male,Hyderabad,Central,RES936,Restaurant_29,Chinese,2024-10-20,...,1157.0,UPI,Delivered,Not Cancelled,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,39.0,Female,Chennai,North,RES689,Restaurant_419,Chinese,2024-08-12,...,4849.0,COD,Delivered,Not Cancelled,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,39.0,Male,Delhi,North,RES723,Restaurant_244,Arabian,2024-12-08,...,737.0,Wallet,Delivered,Not Cancelled,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,39.0,Male,Mumbai,Central,RES951,Restaurant_178,Chinese,2024-10-08,...,1157.0,UPI,Cancelled,Late Delivery,DP155,2.0,3.4,Weekday,True,0.04
4,ORD000005,CUST4389,57.0,Female,Chennai,South,RES419,Restaurant_262,Chinese,2024-02-04,...,352.0,Card,Delivered,Not Cancelled,DP728,2.0,4.4,Weekend,False,0.12

In [ ]:
df.Delivery_Time_Min.value_counts().sum()

np.int64(64444)

In [ ]:
df.to_csv("/content/cleaned_food_delivery.csv", index=False)

In [ ]:
from google.colab import files
files.download("cleaned_food_delivery.csv")

In [ ]:
df

,Order_ID,Customer_ID,Customer_Age,Customer_Gender,City,Area,Restaurant_ID,Restaurant_Name,Cuisine_Type,Order_Date,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,19.0,Male,Hyderabad,Central,RES936,Restaurant_29,Chinese,2024-10-20,...,1157.0,UPI,Delivered,Not Cancelled,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,39.0,Female,Chennai,North,RES689,Restaurant_419,Chinese,2024-08-12,...,4849.0,COD,Delivered,Not Cancelled,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,39.0,Male,Delhi,North,RES723,Restaurant_244,Arabian,2024-12-08,...,737.0,Wallet,Delivered,Not Cancelled,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,39.0,Male,Mumbai,Central,RES951,Restaurant_178,Chinese,2024-10-08,...,1157.0,UPI,Cancelled,Late Delivery,DP155,2.0,3.4,Weekday,True,0.04
4,ORD000005,CUST4389,57.0,Female,Chennai,South,RES419,Restaurant_262,Chinese,2024-02-04,...,352.0,Card,Delivered,Not Cancelled,DP728,2.0,4.4,Weekend,False,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64439,ORD064440,CUST2162,51.0,Female,Delhi,Central,RES325,Restaurant_379,Arabian,2024-07-25,...,170.0,Card,Delivered,Not Cancelled,DP398,4.0,4.7,Weekday,True,0.07
64440,ORD064441,CUST3471,22.0,Female,Mumbai,East,RES241,Restaurant_471,Mexican,2024-02-23,...,1157.0,Card,Cancelled,Not Cancelled,DP834,5.0,3.8,Weekday,True,0.47
64441,ORD064442,CUST9382,39.0,Other,Delhi,South,RES271,Restaurant_153,Mexican,2024-11-19,...,913.0,UPI,Delivered,Not Cancelled,DP292,1.0,5.2,Weekday,False,0.42
64442,ORD064443,CUST7820,39.0,Female,Bangalore,North,RES913,Restaurant_160,Chinese,2024-08-31,...,2152.0,Wallet,Cancelled,Late Delivery,DP912,4.0,4.5,Weekend,True,-0.11
64443,ORD064444,CUST3303,39.0,Female,Hyderabad,West,RES446,Restaurant_412,Indian,2024-05-06,...,1157.0,Wallet,NaN,Not Cancelled,NaN,4.0,NaN,NaN,True,NaN

In [ ]:
df = pd.read_csv("/content/cleaned_food_delivery.csv")

In [ ]:
df.isnull().sum()

Order_ID               0
Customer_ID            0
Customer_Age           0
Customer_Gender        0
City                   0
Area                   0
Restaurant_ID          0
Restaurant_Name        0
Cuisine_Type           0
Order_Date             0
Order_Time             0
Delivery_Time_Min      0
Distance_km            0
Order_Value            0
Discount_Applied       0
Final_Amount           0
Payment_Mode           0
Order_Status           1
Cancellation_Reason    0
Delivery_Partner_ID    1
Delivery_Rating        0
Restaurant_Rating      1
Order_Day              1
Peak_Hour              0
Profit_Margin          1
dtype: int64

In [ ]:
df

,Order_ID,Customer_ID,Customer_Age,Customer_Gender,City,Area,Restaurant_ID,Restaurant_Name,Cuisine_Type,Order_Date,...,Final_Amount,Payment_Mode,Order_Status,Cancellation_Reason,Delivery_Partner_ID,Delivery_Rating,Restaurant_Rating,Order_Day,Peak_Hour,Profit_Margin
0,ORD000001,CUST6948,19.0,Male,Hyderabad,Central,RES936,Restaurant_29,Chinese,2024-10-20,...,1157.0,UPI,Delivered,Not Cancelled,DP563,5.0,4.4,Weekend,True,0.13
1,ORD000002,CUST6515,39.0,Female,Chennai,North,RES689,Restaurant_419,Chinese,2024-08-12,...,4849.0,COD,Delivered,Not Cancelled,DP369,5.0,4.7,Weekday,True,0.48
2,ORD000003,CUST1765,39.0,Male,Delhi,North,RES723,Restaurant_244,Arabian,2024-12-08,...,737.0,Wallet,Delivered,Not Cancelled,DP580,4.0,4.9,Weekend,True,0.08
3,ORD000004,CUST2744,39.0,Male,Mumbai,Central,RES951,Restaurant_178,Chinese,2024-10-08,...,1157.0,UPI,Cancelled,Late Delivery,DP155,2.0,3.4,Weekday,True,0.04
4,ORD000005,CUST4389,57.0,Female,Chennai,South,RES419,Restaurant_262,Chinese,2024-02-04,...,352.0,Card,Delivered,Not Cancelled,DP728,2.0,4.4,Weekend,False,0.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64439,ORD064440,CUST2162,51.0,Female,Delhi,Central,RES325,Restaurant_379,Arabian,2024-07-25,...,170.0,Card,Delivered,Not Cancelled,DP398,4.0,4.7,Weekday,True,0.07
64440,ORD064441,CUST3471,22.0,Female,Mumbai,East,RES241,Restaurant_471,Mexican,2024-02-23,...,1157.0,Card,Cancelled,Not Cancelled,DP834,5.0,3.8,Weekday,True,0.47
64441,ORD064442,CUST9382,39.0,Other,Delhi,South,RES271,Restaurant_153,Mexican,2024-11-19,...,913.0,UPI,Delivered,Not Cancelled,DP292,1.0,5.2,Weekday,False,0.42
64442,ORD064443,CUST7820,39.0,Female,Bangalore,North,RES913,Restaurant_160,Chinese,2024-08-31,...,2152.0,Wallet,Cancelled,Late Delivery,DP912,4.0,4.5,Weekend,True,-0.11
64443,ORD064444,CUST3303,39.0,Female,Hyderabad,West,RES446,Restaurant_412,Indian,2024-05-06,...,1157.0,Wallet,NaN,Not Cancelled,NaN,4.0,NaN,NaN,True,NaN